<%- include("../__layout/header_admin") %>

<div class="container">

<h2 class="page-title">Edit category : <%= title %> </h2>
<a href="/admin" class="btn btn-info"><< Back to the main page</a>
<br><br><br>
<form action="/admin/category/edit-category/<%= id %>" method="post" id="myform">
<div class="form-group">
<label  for="title">Title</label>        
<input type="text" class="form-control" name="title" id="title" placeholder="Add the title" value="<%= title %>">
<p class='alert-warning' ></p>
</div>
<button type="submit"  class="btn btn-info" id="btn-submit">Edit</button>

</form>

</div>



<%- include("../__layout/footer_admin") %>
<script src="/js/edit-category-validation.js"></script>
