<%- include("../__layout/header_admin") %>

<div class="container">

<h2 class="page-title">Edit page slog : <%= slog %> </h2>
<a href="/admin" class="btn btn-info"><< Back to the main page</a>
<br><br><br>
<form action="/admin/pages/edit-page/<%= slog %>" method="post" id="myform">
<div class="form-group">
<label  for="title">Title</label>        
<input type="text" class="form-control" name="title" id="title" placeholder="Add the title" value="<%= title %>">
<p class='alert-warning' ></p>
</div>
<div class="form-group">
<label  for="slog">Slog</label>        
<input type="text" class="form-control" name="slog" id="slog" placeholder="Add slog" value="<%= slog %>">
</div>
<div class="form-group">
<label  for="content">Content</label>        
<textarea class="form-control" name="content" id="ta" placeholder="Add some content" cols="7" rows="3"><%= content %></textarea>
<p class='alert-warning'></p>
</div>
<p class="" id='alert'></p>
<button type="submit"  class="btn btn-info" id="btn-submit">Edit</button>

</form>

</div>



<%- include("../__layout/footer_admin") %>
<script src="/js/edit-validation.js"></script>
